:global(.button.button-primary) {
   background: var(--blue);
   border-radius: var(--border-radius);
   color: var(--white);
   cursor: pointer;
   display: inline-block;
   font-size: 1.6em;
   line-height: 1.375em;
   padding: .375em 2.75em;
}
