:root {
/* COLORS */
   --black: #222428;
   --blue: #1973BA;
   --gray-divider: #e0e4e7;
   --gray-lightest: #e4e6e8;
   --gray-lighter: #d3d5d8;
   --gray-light: #c1c4c7;
   --gray-dark: #5E6266;
   --orange: #ef6031;
   --white: #ffffff;
/* DIMENSIONS */
   --border-radius: 4px;
   --header-height: 121px;
   --lane-width: 2400px;
   --right-column-width: 185px;
}
