/* MAIN NAV */
:global(.mainNav) {
  background: #ffffff;
  border-bottom: 1px solid var(--gray-light);
  font-size: 1rem;
  margin: 0 auto;
}
:global(.mainNav a) {
  color: var(--black);
  display: inline-block;
  font-weight: 700;
  line-height: 1em;
  margin: 0;
  padding: 1.5em;
  text-decoration: none;
  vertical-align: middle;
}
:global(.mainNav a span) {
  font-size: 1.6em;
  line-height: .9375em;
  padding: .9375em;
}
:global(.mainNav a:hover) {
  /* insert hover color here */
}
:global(.headerLogo) {
  background: url("/static/images/logo.svg") no-repeat center center / 12.5em;
  border-right: 1px solid var(--gray-light);
  height: 1.5em;
  width: 12.5em;
}
:global(.mainNav a.headerSearchButton) {
  background: url("/static/images/search.svg") no-repeat center center / 20px;
  height: 3.2em;
  margin: .6em 1em;
  float: right;
  padding: 0;
  width: 3.2em;
}
/* SECONDARY NAV */
:global(.secondaryNav) {
  background: #ffffff;
  border-bottom: 1px solid var(--gray-light);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0 auto;
}
:global(.secondaryNav .navCurrent) {
  flex: 0 0 auto;
  font-size: 3.2em;
  font-weight: 700;
  line-height: 1em;
  margin: 1em .32em .32em 1em;
}
:global(.secondaryNav .navTabs) {
  align-self: flex-end;
  flex: 0 0 auto;
  margin-right: var(--right-column-width);
}
:global(.secondaryNav .navTabs a) {
  color: var(--gray-dark);
  display: inline-block;
  font-size: 1.6em;
  line-height: 2.2em;
  padding: 0 .68em;
  position: relative;
  text-decoration: none;
}
:global(.secondaryNav .navTabs a.selected:after) {
  background: var(--blue);
  content: "";
  display: inline-block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}
/* MEDIA QUERIES */
@media screen and ( max-width: 719px ) {
  :global(.mainNav) {
    font-size: .612rem;
  }
}
@media screen and ( max-width: 479px ) {
  :global(.mainNav) {
    font-size: .67rem;
  }
}
