/* LAYOUT MAIN */
script {
  display:none !important;
}
:global([draggable]) {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
html {
  background: var(--gray-lightest);
  font-family: 'Gilroy', sans-serif;
  font-size: 62.5%;
  line-height: 78.125%;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
body {
  color: var(--black);
  font-size: 1rem;
  line-height: 150%;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /*
  The overflow is hidden here to prevent multiple scrollbars.
  */
  padding: 0;
}
a {
  color: var(--blue);
}
main {
  box-sizing: border-box;
  font-size: 1rem;
  height: calc(100vh - var(--header-height));
  margin: 0 auto;
  position: relative;
}
p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
aside {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}
