:global(.roadmapWrapper) {
   display: flex;
   height: 100%;
}
:global(.roadmapLanes) {
   box-sizing: border-box;
   flex: 0 0 calc(100% - var(--right-column-width));
   overflow-x: hidden;
   overflow-y: hidden;
   padding: 1.5em 0em 1.5em 3.2em;
}
:global(.roadmapLanes:hover) {
   overflow-x: auto;
   overflow-y: auto;
}
:global(.roadmapLaneLabels) {
   margin-left: 10px;
   white-space: nowrap;
}
:global(.roadmapLaneLabels span) {
   color: var(--gray-dark);
   display: inline-block;
   font-size: 1.4em;
   height: 42px;
   position: relative;
   vertical-align: bottom;
   width: 100px;
}
:global(.roadmapLaneLabels span:before) {
   background: var(--gray-light);
   border-radius: 50%;
   bottom: 13px;
   content: "";
   display: inline-block;
   height: 4px;
   left: -2px;
   position: absolute;
   width: 4px;
}
:global(.roadmapLane.hidden) {
   display: none;
}
:global(.walkthroughStep0 .roadmapLane) {
   display: none;
}
:global(.roadmapLane) {
   background: var(--white);
   padding-left: 10px;
}
:global(.roadmapLaneTitle) {
   background: var(--orange);
   border-radius: var(--border-radius) var(--border-radius) 0 0;
   color: var(--white);
   font-size: 1.6em;
   height: 40px;
   left: -10px;
   line-height: 40px;
   position: relative;
   width: calc(var(--lane-width) + 10px);
}
:global(.roadmapLaneTitleIcon:before) {
   background: url("/static/images/caret-down.svg") no-repeat center center / 10px;
   content: "";
   display: inline-block;
   height: 40px;
   vertical-align: top;
   width: 30px;
}
:global(.roadmapLaneTitleValue) {
   display: inline-block;
   vertical-align: top;
}
:global(.roadmapLaneInner) {
   background-image: linear-gradient(90deg, var(--gray-divider) 0.50%, var(--white) 0.50%, var(--white) 50%, var(--gray-divider) 50%, var(--gray-divider) 50.50%, var(--white) 50.50%, var(--white) 100%);
   background-size: 200.00px 200.00px;
   min-width: var(--lane-width);
   height: 140px;
   position: relative;
   vertical-align: top;
}
:global(.roadmapGarage) {
   background: var(--white);
   border-left: 1px solid var(--gray-light);
   box-sizing: border-box;
   flex: 0 0 var(--right-column-width);
   padding: 1.5em;
}
:global(.roadmapDroppable) {
   background: var(--gray-lightest);
   border-radius: var(--border-radius);
   color: var(--gray-dark);
   cursor: pointer;
   font-size: 1.4em;
   padding: .7em .5em;
   margin-bottom: .86em;
}
:global(.roadmapDroppable:before) {
   background: url("/static/images/draggable.svg") no-repeat center center / 12px;
   content: "";
   display: inline-block;
   height: 14px;
   margin-right: .5em;
   vertical-align: top;
   width: 12px;
}
:global(.roadmapDroppable[draggable="false"]) {
   cursor: default;
   opacity: .5;
   pointer-events: none;
}
:global(.roadmapDroppableLane:after) {
   content: "Add lane";
}
:global(.roadmapDroppableBar:after) {
   content: "Add bar";
}
/**/
:global(.laneDropTarget) {
   height: 93px;
   text-align: center;
   width: calc(100vw - 3.2rem - var(--right-column-width) - 3.2rem); /* 100vw doesn't account for scrollbars */
}
:global(.laneDropTarget.hidden) {
   display: none;
}
:global(.laneDropTarget.dropTargetHover) {
   background: var(--white);
   border: 1px dashed var(--gray-light);
   font-size: 2em;
}
:global(.laneDropTarget.dropTargetHover:after) {
   content: "Drop Here";
   font-weight: 700;
   line-height: 93px;
}
:global(.barDropTarget) {
   border-radius: var(--border-radius);
   box-sizing: border-box;
   font-size: 1.6em;
   height: 40px;
   line-height: 40px;
   margin: 5px 0px 0px 0px;
   padding: 0px 15px;
   width: 375px;
}
/**/
:global(.walkthroughStep1 .roadmapLaneInner) {
   height: 47px;
}
:global(.roadmapWrapper:not(.walkthroughStep1) .roadmapLaneInner) {
   height: 97px;
}
:global(.barDropTarget) {
   background: var(--blue);
   color: var(--white);
}
:global(.barDropTarget:not(.done)) {
   background: transparent;
}
:global(.barTarget0.done:after) {
   content: "Roadmap Item 1";
}
:global(.barTarget1.done:after) {
   content: "Roadmap Item 2";
}
:global(.barTarget2.done:after) {
   content: "Roadmap Item 3";
}
:global(.barTarget0),
:global(.barTarget2) {
   display: inline-block;
   margin-right: 5px;
   vertical-align: top;
}
:global(.barTarget1) {
   margin-left: 245px;
}
/**/
:global(.roadmapWrapper .barDropTarget.dropTargetHover) {
   background: var(--white);
   border: 1px dashed var(--gray-light);
}