:global(.walkthroughWrapper) {
   overflow: hidden;
   position: fixed;
   right: calc(10px + var(--right-column-width));
   top: 50px;
   transition: all 500ms;
   width: 500px;
}
:global(.walkthroughWrapper.walkthroughStep0) {
   height: 405px;
}
:global(.walkthroughWrapper.walkthroughStep1) {
   height: 410px;
}
:global(.walkthroughWrapper.walkthroughStep2) {
   height: 230px;
}
:global(.walkthroughInner) {
   background: var(--white);
   border-radius: var(--border-radius);
   box-shadow: 0px 0px 14px 0px #2D343920;
   box-sizing: border-box;
   height: calc(100% - 30px);
   margin: 15px;
   padding: 3em;
   position: relative;
   width: calc(100% - 30px);
   z-index: 9001;
}
:global(.walkthroughWrapper.hidden) {
   box-shadow: none;
   height: 0;
   padding: 0;
   width: 0;
}
:global(.walkthroughArrow:after) {
   background: var(--white);
   border-color:var(--gray-lightest);
   border-style: solid;
   border-width: 1px 1px 0px 0px;
   content: "";
   height: 18px;
   position: absolute;
   right: 5px;
   transform: rotate(45deg);
   top: calc(50% - 7px);
   width: 18px;
   z-index: 9002;
}
img {
   margin-bottom: 2.2em;
   max-width: 100%;
}
:global(.walkthroughWrapper h4) {
   color: var(--black);
   font-size: 2em;
   margin: 0em 0em .8em 0em;
}
:global(.walkthroughWrapper p) {
   color: var(--gray-dark);
   font-size: 1.6em;
   line-height: 1.375em;
}
:global(.walkthroughWrapper .buttons) {
   margin-top: 2.75em;
   text-align: right;
}
